		<div class="prefooter-blocks">
			<div id="container3">
				<div id="container2">
					<div id="container1">
						<div id="col1">

							<!-- Column one content beginning -->
							<h2>About us</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aperiam molestiae corrupti officiis est a suscipit rerum quos unde ut minima natus iusto incidunt voluptatem totam illo consequuntur sapiente reiciendis.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati corporis doloribus recusandae distinctio sapiente a molestiae officia fugiat minima quasi eveniet dignissimos perspiciatis nisi reprehenderit et ad reiciendis quibusdam fugit?</p>
							<!-- Column one content end -->

						</div>
						<div id="col2">

							<!-- Social icons block beginning -->
							<div class="social-icons">
								<h2>Join us</h2>
								<ul>
									<li><a href="#" target="_blank" class="twitter"></a></li>
									<li><a href="#" target="_blank" class="facebook"></a></li>
									<li><a href="#" target="_blank" class="gplus"></a></li>
									<li><a href="#" target="_blank" class="youtube"></a></li>
									<li><a href="#" target="_blank" class="myspace"></a></li>
								</ul>
							</div>
							<!-- Social icons block end -->

						</div>
					</div>
				</div>
			</div>
		</div>