            <div class="tabs-outer">
            	<a href="javascript:void(0);" title="Menu" class="toggleMenuButton"></a>
            	<ul class="tabs">
            		<li id="faq-link"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}"><span>{L_FAQ}</span></a></li>
            		<!-- IF S_DISPLAY_MEMBERLIST --><li id="members-link"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}"><span>{L_MEMBERLIST}</span></a></li><!-- ENDIF -->

                        <!-- Add tabs below -->
                  
            	</ul>
            </div>
