/* General CSS MYACCOUNT VIEW
---------------------------------------- */

.img_profil {
	float:left;
	min-width: 200px;
	min-height:160px;
}

.img_profil_src {
	width:128px;
	height:128px;
 	margin-left:10%;
  	float:left;
}

.div_top_profil {
	width:76%;
	min-height: 160px;
	margin-left: 200px;
	padding-left: 2%;
}

.profile_font {
	font-size:20px;
}

.img_icon_grey {
	color:grey;
}

.div_bottom_left {
	float:left;
	max-width: 200px;
}

.div_bottom_right {
	min-height: 200px;
	float: left;
	border-left: 1px solid #E4E4E4; 
	padding-left: 2%;
}

.social-icon {
	margin-left: 5%;
}

.facebook-color {
	color: #4A66A4;
}

.twitter-color {
	color: #55AAEE;
}

.skype-color {
	color: #3399FF;
}