									<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content">
                                                <h1>{welcomeText}</h1>
                                                <br />
                                                {contentText}
											</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-top:0;">
                                                <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
                                                    <tr>
                                                       	<td valign="middle" class="templateButtonContent">
                                                            <div mc:edit="std_content01">
                                                                <a href="{activationUrl}" target="_blank">{validateText}</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                       </tr>            
										<tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content">			
											{signatureText}	
											<br />
                                            </td>
                                        </tr>
                                    </table>